$white: #fff;
$blue: #003660;
$light-blue: #005aa3;
$lightest-blue: #0076d6;
$gray: #eef0f2;
$text: #3d4952;
$seafoam: #dae6e6;
$max-width: 900px;

.gray-block {
  background: $gray;
  padding: 1em;
}

a {
  color: $light-blue;
  text-decoration: underline;
  &:hover {
    color: $lightest-blue;
    text-decoration: none;
  }
}

p {
  line-height: 2;
}

@mixin small-window {
  @media only screen and (max-width: 600px) { @content; }
}

@mixin normal-window {
  @media (min-width: 601px) { @content; }
}

body { 
  min-width: 400px;
  margin: 0; 
  padding: 0;
  font-style: normal;
  font-family: Avenir, "Century Gothic", sans-serif;
  font-size: 16px;
  color: $text;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: Avenir, "Century Gothic", sans-serif; 
}

h1 {
  font-weight: 600;
  font-size: 38px;
  letter-spacing: -0.1pt;
}

h2 {
  font-weight: 600;
  font-size: 27px;
  letter-spacing: -0.1pt;
  margin: 26px 0 10px 0;
}

h3 {
  font-weight: 600;
  font-size: 21px;
  margin: 20px 0 10px 0;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  margin: 16px 0 8px 0;
}

h5 {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

h6 {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
} 

#topnav {
  min-width: 400px;
  width: 100%;
  position: fixed;
  background: $white;
  top: 0;
  border-bottom: solid 1px $gray;
  z-index: 1;
}

#brand-box {
  padding: 1em;
  padding-bottom: 0;
  margin: 0 auto;
  max-width: $max-width;
  @include small-window {
    background: $blue;
    color: white;
  }
  .links {
    a {
      text-decoration: none;
      color: $blue;
      padding: 0.5em;
      display: inline-block;
      &:hover {
        text-decoration: none;
        color: $blue;
        border-bottom: solid 3px $blue;
      }
      &.current {
        text-decoration: none;
        color: $blue;
        border-bottom: solid 3px $blue;
      }
      @include small-window {
        color: $white;
        &:hover {
          color: $white;
          border-bottom: solid 3px $white;
        }
        &.current {
          color: $white;
          border-bottom: solid 3px $white;
        }
      }
    }
  }
}

#brand {
  padding-bottom: 1em;
  border-bottom: solid 1px $gray;
  .logo {
    display: inline-block;
    & > svg {
      height: 22px;
      width: auto;
      padding: 5px;
      @include small-window {
        height: 16px;
      }
      & g {
        @include small-window {
          fill: white;
        }
      }
    }
  }
  .title {
    border-left: solid 1px $blue;
    margin-left: 0.25em;
    box-sizing: border-box;
    font-size: 22px;
    display: inline-block;
    padding: 5px;
    padding-left: 0.5em;
    vertical-align: bottom;
    @include small-window {
      font-size: 16px;
      border-left: solid 1px $white;
    }
  }
}

#eyebrow { 
  display: block;
  background: $blue;
  color: $white;
  width: 100%;
  font-family: avenir-light, sans-serif;
  font-weight: 100;
  font-size: 12px;
  padding: 0.5em 2em;
  box-sizing: border-box;
  & a {
    letter-spacing: 0.5pt;
    text-decoration: none;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
  .inner {
    max-width: $max-width;
    margin: 0 auto;
    .left {
      display: inline-block;
    }
    .right {
      display: inline-block;
      float: right;
    }
  }
  @include small-window {
    display: none;
  }
}

#content {
  margin-top: 143px;
  width: 100%;
  padding-top: 1em;
  position: relative;
  @include small-window {
    margin-top: 109px;
  }
  & h1, h2, h3, h4, h5, h6, p, table {
    max-width: $max-width;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.talks {
  max-width: $max-width;
  border: solid 1px $text;
  margin: 0 auto;
  background: $white;
  .talk-row {
    border-bottom: solid 1px $text;
    display: flex;
    text-decoration: none;
    color: $text;
    &:hover {
      color: $text;
      background: $seafoam;
    }
    &:last-child {
      border: none;
    }
    .date {
      flex-grow: 0;
      border-right: solid 1px $text;
      padding: 0.5em;
      width: 20%;
    }
    .content {
      padding: 0.5em 0;
      width: 80%;
      p {
        margin-top: 0;
        margin-bottom: 0.25em;
        line-height: 1.25;
      }
    }
  }
}
